<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.robotota.ivanantonyuck.dockorientation"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

</manifest>
